.logout-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .logout-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .text {
            margin-right: 20px;
        }
    }
}
