.failed-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    .text {
        margin-right: 20px;
    }
}


@media only screen and (max-width: 767px) {
    .failed-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 500px;
        .text {
            margin-right: 20px;
        }
    }
}
