.upcoming-assignments-card-container {
    width: 590px;
    .card-title {
        font-weight: var(--heading-font-weight);
        font-size: var(--font-size-larger);
        line-height: 24px;
        letter-spacing: 0em;
        font-family: Inter;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .card-content-container {
        border-radius: 12px;
        border: 1px solid #E8E8E8;
        display: flex;
        flex-direction: column;

        .upcoming-assignment-container {
            padding: 24px 32px 24px 20px;
            .assignment-number {
                color: var(--foundation-black-black-400, #73797C);
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 17px;
            }

            .assignment-description-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;
                .assignment-description {
                    color: var(--foundation-black-black-900, #222526);
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .assignment-due-date{
                color: var(--foundation-black-black-500, #50585B);
                font-size: 14px;
                font-weight: 400;
            }
        }

        .upcoming-assignment-bottom-border {
            border-bottom: 1px solid #E8E8E8;
        }  
    }
}

@media only screen and (max-width: 767px) {
    .upcoming-assignments-card-container {
        width: 95%;
    }
}