.home-container {
    display: flex;
    flex-direction: column;

    .body-rest {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-banner-container {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 20px 0;
        align-items: center;
        background: linear-gradient(111deg, #FFEFDB 11.39%, #FFF 62.5%);

        .banner-content {
            display: flex;
            width: 490px;
            flex-direction: column;
            row-gap: 26px;

            .banner-desc {
                margin-right: 20px;
            }

            .banner-title {
                display: flex;
                flex-direction: column;
                color: var(--foundation-blue-blue-800, #120123);
                font-family: Inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                .orange-title {
                    color: #D9042B;
                    font-weight: 800;
                }
            }

            .demo-btn {
                width: 156px;
                height: 34px;
                cursor: pointer;
            }
        }

        .banner-image-container {
            width: 620px;
            height: 620px;
        }
    }

    .bottom-banner {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        mix-blend-mode: multiply;
        height: 660px;

        .banner-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .banner-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;

            .banner-title {
                justify-content: center;
                width: 820px;
                display: flex;
                flex-wrap: wrap;
                color: #FFF;
                text-align: center;
                text-shadow: 0px 0px 40px #000;
                font-family: Inter;
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .banner-desc {
                width: 705px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 34px;
                color: #FFF;
                text-align: center;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                margin-right: 20px;
            }

            .banner-btn {
                width: 218px;
                height: 56px;
                margin-top: 70px;
                cursor: pointer;

                .login-btn {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .home-container {
        /* width: 75%; */

        .home-banner-container {
            flex-direction: column;
            justify-content: initial;
            align-items: inherit;
            row-gap: 20px;
            padding: 20px 70px;
            height: auto;

            .banner-content {
                width: auto;

                .banner-title {
                    font-size: 36px;
                }
            }

            .banner-image-container {
                display: flex;
                width: 100%;
                height: auto;
                justify-content: center;

                .banner-image {
                    width: 340px;
                    height: 340px;
                }
            }
        }

        .bottom-banner {
            margin-top: 50px;
            height: 500px;

            .banner-content {
                .banner-title {
                    width: 370px;
                    font-size: 26px;
                }

                .banner-desc {
                    font-size: 1rem;
                    width: 100%;
                    padding-left: 15%;
                    padding-right: 10%;
                }
            }
        }
    }
}