/* Card.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    /* width: calc(33.33% - 20px); */
    margin: 10px;
    padding: 20px;
    /* background-color: #f0f0f0; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    width: 300px;
    height: 550px;
    border: none;
}

.card-image {
    max-width: 281px;
    height: 375px;
    border-radius: 4px 4px 0 0;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-header {
    margin: 0;
    background-color: transparent;
    border-bottom: none;
    padding: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.card-description {
    margin: 10px 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

@media (max-width: 768px) {

    /* Media query for mobile devices */
    .card {
        width: 100%;
        /* Full width on mobile */
        margin: 10px 0;
        border: none;
    }
}