.resources-container {
    display: flex;
    flex-direction: column;

    .resources-top {
        display: flex;
        flex-direction: column;
        row-gap: 23px;
        align-items: center;
        /* margin: auto; */
        padding-top: 60px;
        margin-bottom: 56px;

        .resources-title {
            color: var(--foundation-black-black-800, #2C3032);
            text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.14);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 90%;
        }

        .resources-content {
            display: flex;
            column-gap: 24px;
            width: 90%;

            .resource-card {
                display: flex;
                flex-direction: column;
                flex: 1;
                /* width: 382px; */
                row-gap: 20px;
                padding: 20px;
                border-radius: 12px;
                background: #FFF;
                box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);

                .card-top {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;

                    .icon-heading {
                        color: var(--foundation-black-black-900, #222526);
                        text-align: center;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .icon-container {
                        width: 120px;
                        height: 120px;

                        .card-image {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }

                .card-bottom {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    height: 130px;

                    .card-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: var(--foundation-black-black-900, #222526);
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        .clear-all {
                            background: none;
                            border: none;
                        }
                    }

                    .card-title span {
                        color: var(--foundation-red-light-red-light-400, #F54737);
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    .card-title img {
                        margin-right: 6px;
                    }

                    .frame {
                        overflow-y: auto;
                        /* border: 1px solid black; */
                        height: 20em;
                        width: 10em;
                        line-height: 1em;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                    
                    .frame::-webkit-scrollbar {
                        -webkit-appearance: none;
                    }
                    
                    .frame::-webkit-scrollbar:vertical {
                        width: 11px;
                    }
                    
                    .frame::-webkit-scrollbar:horizontal {
                        height: 11px;
                    }
                    
                    .frame::-webkit-scrollbar-thumb {
                        border-radius: 8px;
                        border: 2px solid white; /* should match background, can't be transparent */
                        background-color: rgba(0, 0, 0, .5);
                    }
                    

                    .resources-list-container {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        gap: 10px;
                        overflow-y: auto;

                        .resource-btn {
                            border: none;
                            background: none;

                            .resource {
                                display: flex;
                                justify-content: center;
                                border-radius: 6px;
                                padding: 6px;
                                border: 1px solid var(--foundation-black-black-50, #EEEEEF);
                                background: #FFF;
                            }

                            .higlight-border {
                                border: 1px solid var(--foundation-red-red-400, #E13655);
                            }
                        }
                    }
                }
            }
        }
    }

    .resources-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;

        .resources-bottom-container {
            width: 90%;

            .resources-results-title {
                color: var(--foundation-black-black-800, #2C3032);
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
            }


            .resource-result-card-url {
                color: var(--foundation-black-black-400, #73797C);
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;

                .resource-result-card {
                    border-radius: 12px;
                    border: 1px solid var(--foundation-blue-blue-50, #E9E6EC);
                    background: #FFF;
                    display: grid;
                    grid-template-columns: 213px 1fr 56px;
                    grid-column-gap: 18px;
                    align-items: center;
                    margin-bottom: 12px;

                    .card-cont {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .resource-result-image {
                        margin: 4px 0px 4px 4px;
                        border-radius: 8px;
                        width: 213px;
                        height: 120px;
                    }

                    .resource-result-card-title {
                        color: var(--foundation-black-black-900, #222526);
                        font-size: 18px;
                        font-weight: 700;

                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .resources-container {
        .resources-top {
            margin-bottom: 20px;

            .resources-title {
                font-size: 24px;
            }

            .resources-content {
                flex-direction: column;
                row-gap: 16px;
            }
        }

        .resources-bottom {
            .resources-bottom-container {
                .resource-result-card {

                    grid-template-columns: 100px 1fr 32px;
                    grid-column-gap: 10px;

                    .resource-result-image {
                        width: 100px;
                    }

                    .resource-result-card-title {
                        font-size: 14px;
                    }

                    .resource-result-card-url {
                        font-size: 12px;
                    }

                }
            }
        }
    }

}