.home-container{
    display: flex;
    flex-direction: column;
    .home-banner-container{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 20px 0;
        align-items: center;
        background: linear-gradient(111deg, #FFEFDB 11.39%, #FFF 62.5%);
        .banner-content{
            display: flex;
            width: 490px;
            flex-direction: column;
            row-gap: 26px;
            .banner-title{
                display: flex;
                flex-direction: column;
                color: var(--foundation-blue-blue-800, #120123);
                font-family: Inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                .orange-title{
                    color: #D9042B;
                    font-weight: 800;
                }
            }
            .demo-btn{
                width: 156px;
                height: 34px;
                cursor: pointer;
            }
        }
        .banner-image-container{
            width: 620px;
            height: 620px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .home-container{
        .home-banner-container{
            flex-direction: column;
            justify-content: initial;
            align-items: inherit;
            row-gap: 20px;
            padding: 20px 10px;
            height: auto;
            .banner-content{
                width: auto;
                .banner-title{
                    font-size: 36px;
                }
            }
            .banner-image-container {
                display: flex;
                width: 100%;
                height: auto;
                justify-content: center;
                .banner-image{
                    width: 340px;
                    height: 340px;
                }
            }
        }
    }
}