:root { 
    /* @Todo convert value in rem equivalent */
    --font-size-tiny: 8px; /* ~8px */
    --font-size-smaller: 10px; /* ~10px */
    --font-size-small: 12px; /* ~12px */
    --font-size-base: 14px; /* ~14px */
    --font-size-big: 16px; /* ~16px */
    --font-size-large: 18px; /* ~18px */
    --font-size-larger: 20px; /* ~20px */

    /*  font weight */
    --heading-font-weight: 700;
}