.coaching-container{
    display: flex;
    flex-direction: column;
    .coaching-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 200px);
        background: radial-gradient(50% 50% at 50% 50%, #432A60 0%, #210140 100%);
        .title-text{
            text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.14);
            font-family: Inter;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: linear-gradient(96deg, #1B68FF 15.75%, #FF4F7D 87.35%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .bottom{
            font-size: 64px;
        }
    }
    .coaching-bottom{
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: center;
        background: #1F0539;
        .coaching-input-container{
            width: 960px;
            height: 64px;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            border-radius: 12px;
            border: 2px solid #3B1E57;
            background: #2F1549;
            .input-val{
                .form-control{
                    background: #2F1549;
                    border: none;
                    color: #7F6798;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    &:hover {
                        outline: none;
                        border: none;
                    }
                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                    &::placeholder {
                        color: #7F6798;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
                .coaching-btn{
                    margin-right: 16px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .coaching-container{
        .coaching-top{
            min-height: calc(100vh - 300px);
            .title-text{
                font-size: 46px;
            }
            .bottom {
                font-size: 50px;
            }
        }
        .coaching-bottom{
            .coaching-input-container{
                width: 360px;
            }
        }
    }
}