.hcontainer{
    width: 100vw;
    height: 80px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 0 120px;
    .hlogo{
        display: flex;
        justify-content: center;    
    }
    .hmenu{
        display: flex;
        align-items: center;
        column-gap: 26px;
        .login-btn{
            width: 92px;
            height: 41px;
            cursor: pointer;
        }
        .signup-btn{
            width: 92px;
            height: 41px;
            cursor: pointer;
        }   
    }
    .hmenu > *{
        text-decoration: none;
        color: black;
    }
    .login-btn-container {
        display: flex;
        justify-content: flex-end;
        column-gap: 16px;
        .login-btn{
            cursor: pointer;
        }
        .user {
            height: 40px;
            width: 40px;
            border-radius: 40px;
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .hcontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
        align-items: baseline;
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
        .hmenu {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            column-gap: 20px;
        }
    }
}