.testimonial-card-css {
    width: 100%;

    .carousel-slide-container {
        display: flex;
        height: 400px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin: 10px;
        width: 383px;
        height: 291px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid var(--foundation-blue-blue-50, #E9E6EC);
        background: #FFF;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-right: 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-image {
        width: 24px;
        height: 18px;
    }

    .testimonial-container {
        display: flex;
    }

    .testimonial {
        color: #50585B;
        font-family: Inter;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 160%;


        display: block;
        /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 5.4em;
        line-height: 1.8em;
        max-width: 210px;
        /* 22.4px */
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .card-section {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
    }

    @media (max-width: 767px) {
        .card-section {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
        }
    }

    .card-section-header {
        color: var(--foundation-black-black-900, #222526);
        text-align: center;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        /* 46.8px */
    }

    .card-header {
        margin: 0;
        background-color: transparent;
        border-bottom: none;
        padding: 0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        width: max-content;
    }

    .card-description {
        margin: 10px 0;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    @media (max-width: 767px) {

        /* Media query for mobile devices */
        .card {
            width: 100%;
            /* Full width on mobile */
            margin: 10px 0;
            border: none;
        }
    }
}