.course-card-container {
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 430px;
    border-radius: 12px;
    border: 1px solid #EEEEEF;
    background: #FFF;
    margin-left: 10px;

    .image-container {
        width: 354px;
        height: 210px;

        .card-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        padding: 16px;
        justify-content: space-between;
            height: 100%;

        .card-header {
            color: var(--foundation-black-black-900, #222526);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }

        .rating-review {
            display: flex;
            column-gap: 8px;
            margin-top: 13px;

            .rating-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 38px;
                height: 26px;
                border-radius: 4px;
                background: var(--foundation-yellow-yellow-500, #F2CB05);

                .rating {
                    color: var(--foundation-black-black-800, #2C3032);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 22px;
                }

                .rating-star {
                    width: 10px;
                    height: 10px;
                }
            }

            .review {
                color: var(--foundation-black-black-400, #73797C);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
            }
        }

        .card-desc {
            margin-top: 5px;
            color: var(--foundation-black-black-500, #50585B);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            height: 90px;
            line-height: 160%;
        }
        .animate-charcter {
            font-family: Inter;
            border: 1px solid #FBB8B2;
                padding: 6px 12px 6px 12px;
                border-radius: 4px;
                color: #F66558;
                background-color: #FEE8E6;
                font-weight: 600;
                font-size: 12px;
                    width: max-content;
                    margin-top: 10px;
        }

        .buy-now-btn {
            cursor: pointer;
            background: #F28705;
            color: white;
            border: none;
            height: 40px;
            border-radius: 5px;
            width: 100%;
                font-weight: 600;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
            
                .cart-icon {
                    margin-right: 4px;
                    width: 20px;
                    height: 20px;
                }
        }

        .buy-now-btn:disabled {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
        }

        .purchased-txt {
            background: #210140;
            color: white;
            border: none;
            height: 40px;
            border-radius: 5px;
            font-weight: 600;
                font-size: 14px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}


.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #eaf5fe;
    border-right-color: #5597d4;
    -webkit-animation: rotateSpinner 800ms linear infinite;
    animation: rotateSpinner 800ms linear infinite;
}

@-webkit-keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateSpinner {
    to {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 767px) {
    .course-card-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 425px;
        border-radius: 12px;
        border: 1px solid #EEEEEF;
        background: #FFF;
        margin-left: 0px;

        .image-container {
            width: 100%;
            height: 210px;

            .card-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }
    }
}