.card-teams {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1;
        margin-left: 100px;
        /* margin-right: 172px; */
        margin-top: 86px;
    }

    .card-image-container {
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        /* width: calc(33.33% - 20px); */
        margin: 10px;
        /* padding: 20px; */
        /* background-color: #f0f0f0; */
        /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
        /* border-radius: 4px; */
        text-align: center;
        width: 180px;
        height: 250px;
        border: none;
        align-items: center;
        /* flex: 0.25; */
        margin-right: 100px;
    }

    .card-image {
        max-width: 120px;
        height: 120px;
        border-radius: 4px 4px 0 0;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .card-section {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
        /* padding-bottom: 100px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-header {
        margin: 0;
        background-color: transparent;
        border-bottom: none;
        padding: 0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        width: max-content;
    }

    .card-description {
        margin: 10px 0;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    @media (max-width: 767px) {

        /* Media query for mobile devices */
        .card {
            width: 50%;
            /* Full width on mobile */
            margin: 10px 0;
            border: none;
        }

        .card-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            /* padding: 20px; */
            align-items: center;
            justify-content: flex-start;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex: 1 1;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
    }
}
