.courses-container {
    display: flex;
    flex-direction: column;

    .courses-banner-container {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 60px 0;
        column-gap: 64px;
        align-items: center;
        background: url('../../assets/svg/courses-banner-bg.svg'), lightgray 50% / cover no-repeat;

        .banner-content {
            display: flex;
            width: 490px;
            flex-direction: column;
            row-gap: 26px;

            .banner-title {
                color: var(--foundation-blue-blue-800, #120123);
                font-family: Inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                .orange-title {
                    color: #D9042B;
                    font-weight: 800;
                }
            }

            .signup-btn {
                width: 234px;
                height: 56px;
                cursor: pointer;
            }
        }

        .courses-banner {
            .banner-image-container {
                width: 560px;
                height: 420px;

                .courses-banner {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .educators-container {
        display: flex;
        flex-direction: column;
        padding: 40px 125px;
        row-gap: 28px;

        .educators-header {
            display: flex;
            justify-content: space-between;
            padding-left: 8px;
            padding-right: 50px;

            .title {
                color: var(--foundation-black-black-900, #222526);
                font-family: Inter;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .btn-container {
                width: 95px;
                height: 40px;
                cursor: pointer;

                .view-all-btn {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .courses-cards {
            .course-without-slider {
                    display: flex;
                    /* justify-content: space-between; */
                }
            .slick-slider {
                /* display: flex; */
                .slick-list {
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }

                /* .slick-slide > div {
                    margin: 0 10px;
                } */
                /* .slick-track{
                    margin-left: 14px;
                } */
                .arrow-container {
                    width: 48px;
                    /* height: 48px; */
                    cursor: pointer;

                    .left-arrow {
                        position: absolute;
                        z-index: 1;
                        top: 20%;
                            left: 0px;
                    }

                    .right-arrow {
                        position: absolute;
                        z-index: 1;
                        top: 20%;
                            right: -10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .courses-container {
        .courses-banner-container {
            flex-direction: column;
            justify-content: initial;
            align-items: inherit;
            row-gap: 20px;
            padding: 20px 10px;
            height: auto;
            width: 100%;

            .banner-content {
                width: auto;

                .banner-title {
                    font-size: 36px;
                }
            }

            .courses-banner {
                display: flex;
                justify-content: center;

                .banner-image-container {
                    width: 360px;
                    height: 270px;
                    border-radius: 24px;

                    .courses-banner {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .educators-container {
            padding: 40px 25px;
            .courses-cards {
                .slick-slider {
                    .arrow-container {
                        display: none !important;
                        .left-arrow {
                            top: 18%;
                            left: -22px;
                        }

                        .right-arrow {
                            top: 18%;
                            right: -22px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .slick-dots {
        display: none !important;
    }
}